.footer {
    align-self: end;

    padding-top: 50px;
    margin-top: 50px;
    border-top: 1px solid #fff;
}

.footer-container  {
    display: grid;
    grid-template-columns: 50% 50%;
}

.navigation-footer-link, .work-section {
    color: #fff;
    font-family: Montserrat;
    text-decoration: none;
}

.logotype {
    margin-bottom: 25px;
}

.link-block > * {
    margin-bottom: 10px;
}

.create-ticket-footer {
    margin-bottom: 50px;
}

.give-ticket-button {
    padding: 10px 15px;
    max-width: 300px;
    width: 100%;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    border: 2px solid #fff;
    background-color: #000;
    cursor: pointer;
}


@media (max-width: 750px) {
    .navigation-footer-link, .create-ticket-footer, .give-ticket-button {
        font-size: 14px;
    }
}