.homepageHead {
    background-image: url(../images/background.jpeg);
    height: 100dvh;

    display: grid;

    justify-items: center;
    align-items: center;
}

.headTextPreview {
    color: #fff;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 78px;

    width: 80%;
    text-align: center;
}

.hack-container {
    width: 100%;
    max-width: 100%;

    display: flex;
    justify-content: center;
    gap: 40px;
}

.hack-container > img {
    height: 100px;
    margin-bottom: 80px;
}

.work-principles-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    max-width: 60%;
    margin: 30px auto 80px auto;
}

.principle {
    border-right: 1px solid #fff;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;

    padding: 10px 30px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-principle {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.principle__border-blocked {
    border: none;
}

.fp-redirect {
    color: #fff;
    font-family: Montserrat;

    display: flex;
    flex-flow: row nowrap;
}

.fp-asking {
    font-size: 24px;
    min-width: 50%;
}

.fp-description {
    max-width: 50%;
    font-size: 18px;
}

.description-text {
    margin-bottom: 35px;
}

.fp-button {
    padding: 10px 15px;
    max-width: 300px;
    width: 100%;

    color: #fff;
    font-family: Montserrat;
    font-size: 18px;

    border: 2px solid #fff;
    background-color: #000;
}

@media (max-width: 1150px) {
    .headTextPreview {
        font-size: 50px;
    }

    .principle {
        border-right: none;
        border-bottom: 1px solid #fff;
        padding: 30px 10px;
    }

    .principle__border-blocked {
        border: none;
    }

    .work-principles-container {
        flex-flow: column nowrap;
        align-items: center;
    }
}


@media (max-width: 750px) {
    .headTextPreview {
        font-size: 24px;
        width: 95%;
        height: fit-content;
    }

    .hack-container {
        overflow: hidden;
    }

    .image-principle {
        height: 80px;
    }

    .title-principle {
        font-size: 16px;
    }

    .description-principle {
        font-size: 14px;
    }

}