.work-container__certain {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.work-data-container__main {
    display: grid;
    width: 100%;

    grid-template-columns: 30% 65%;
    justify-content: space-between;
    color: #fff;
    font-family: Montserrat;
}

.work-side__info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    min-height: 220px;
    max-height: 300px;
}

.work-link__back {
    font-size: 14px;
}

.work-side__info-title {
    font-size: 36px;
}

.work-side__info-works {
    font-size: 12px;
}

.image__carousel {
    max-width: 100%;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.work-description__certain {
    font-size: 16px;
    font-weight: 100;
    white-space: pre-wrap;
}

.carousel__container {
    display: flex;
    flex-flow: row nowrap;
}